<%= form_for @square do |f| %>

<p>
  <%= f.label :length %><br>
  <%= f.number_field :length, in: 1..2000 %>
</p>

<p>
  <%= f.label :width %><br>
  <%= f.number_field :width, in: 1..2000 %>
</p>

<p>
  <%= f.label :color %><br>
  <%= f.select :color, [['Red','red'],['Green','green'],['Blue','blue'],['Yellow','yellow'],['Purple','purple']] %>
</p>

<p>
  <%= f.button :submit, "Save Rectangle"%>
</p>

<% end %>
