<%= form_for @square do |f| %>

<p>
  <%= f.label :length %><br>
  <%= f.number_field :length, in: 1..150 %>
</p>

<p>
  <%= f.label :width %><br>
  <%= f.number_field :width, in: 1..150 %>
</p>

<p>
  <%= f.label :color %><br>
  <%= f.select :color, [['Red','Red'],['Green','Green'],['Blue','Blue'],['Yellow','Yellow']] %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>
