<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

<table style="width:100%">
  <tr>
    <th>Length</th>
    <th>Width</th>
    <th>Colour</th>
  </tr>

  <% @squares.each do |square| %>
    <tr>
      <td><%= square.width %></td>
      <td><%= square.length %></td>
      <td><%= square.color %></td>
      <td><%= link_to 'Edit', edit_square_path(square) %></td>
      <td><%= link_to 'Delete', square_path(square),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= button_to 'Add a new rectangle', new_square_path, method: :get %>
