<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

<h1>A list of RECTANGLES</h1>

<table>
  <tr>
    <th>Length</th>
    <th>Width</th>
    <th>Colour</th>
    <th>Controls</th>
  </tr>

  <% @squares.each do |square| %>
    <tr>
      <td><%= square.length %></td>
      <td><%= square.width %></td>
      <td style= "background-color:<%= square.color %>"></td>
      <td><%= link_to 'Edit', edit_square_path(square) %>
      <%= link_to 'Delete', square_path(square),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<table style="border: none">
  <tr>
<td><%= button_to 'Add a new rectangle', new_square_path, method: :get -%></td>
<td><%= button_to 'Display all Rectangles', all_squares_path, method: :get %></td>
  </tr>
</table>
