<h1>Blah blah blah</h1>
<%= form_for :square, url: squares_path do |f| %>
  <p>
    <%= f.label :length %><br>
    <%= f.text_field :length %>
  </p>

  <p>
    <%= f.label :width %><br>
    <%= f.text_field :width %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
